<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>About | 민종이의 개발일지</title>
  <link href="../../css/myCss.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <header class="header">
    <a class="heart-container" href="/">
      <div class="heart"></div>
    </a>
    <nav class="menu">
      <a href="/" class="menu-item">Home</a>
      <a href="/about" class="menu-item">About</a>
      <a href="#" class="menu-item">log</a>
      <a href="#" class="menu-item">Contact</a>
    </nav>
  </header>
  <div class="about-content">
    <h1 class="about-title">About</h1>
    <p class="about-description">이 웹사이트는 개발자 민종이의 개발 일지를 기록하는 공간입니다. 여러분들께 도움이 되는 정보를 제공하기 위해 노력하겠습니다.</p>
  </div>
  <footer>
    <p>Copyright © 2023
      <a href="#">민종이의 개발일지</a>. All rights reserved.</p>
    <ul>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="login">Administrator</a></li>
    </ul>
  </footer>
</div>
</body>
</html>
