<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>민종이의 개발일지</title>
    <link href="../css/myCss.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header class="header">
        <a class="heart-container" href="/">
            <div class="heart"></div>
        </a>
        <nav class="menu">
            <a href="/" class="menu-item">Home</a>
            <a href="/about" class="menu-item">About</a>
            <a href="#" class="menu-item">Log</a>
            <a href="#" class="menu-item">Contact</a>
            <a href="/profile" class="menu-item">profile</a>
        </nav>
    </header>
    <div class="hero">
        <h1 class="hero-title">민종이의 개발일지</h1>
        <p class="hero-subtitle">개발하는 동안 배운 것들과 경험들을 기록합니다.</p>
        <img class="hero-image" src="/images/DallE-aComputer.png" alt="Placeholder Image">
    </div>
    <footer>
        <p>Copyright © 2023
            <a href="#">민종이의 개발일지</a>. All rights reserved.</p>
        <ul>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="/login">Administrator</a></li>
        </ul>
    </footer>
</div>
</body>
</html>
