<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8">
  <title>개인정보 수정 폼</title>
  <link href="../css/myCss.css" rel="stylesheet">
  <style>
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
</head>
<body>
<div class="container">
  <header class="header">
    <a class="heart-container" href="/">
      <div class="heart"></div>
    </a>
    <nav class="menu">
      <a href="/" class="menu-item">Home</a>
      <a href="/about" class="menu-item">About</a>
      <a href="#" class="menu-item">Log</a>
      <a href="#" class="menu-item">Contact</a>
      <a href="/admin" class="menu-item">Admin</a>
      <a href="/members/profile" class="menu-item">Profile</a>
    </nav>
  </header>
  <div class="hero">
    <p class="hero-subtitle">개인정보 수정 폼</p>
    <form action="/members/profile" method="post" th:object="${update}">
      <label for="loginId" th:field="*{loginId}" >아이디:</label>
      <input type="text" id="loginId" name="loginId" th:value="*{loginId}" value="아이디">
      <div class="field-error" th:errors="*{loginId}"></div>
      <label for="name" th:field="*{name}">이름:</label>
      <input type="text" id="name"  th:value="*{name}" name="name" value="이름">
      <div class="field-error" th:errors="*{name}"></div>
      <label for="password"  th:field="*{password}">비밀번호:</label>
      <input type="password" id="password" name="password" value="비밀번호" th:value="*{password}">
      <div class="field-error" th:errors="*{password}"></div>
      <button type="submit">수정</button>
    </form>
  </div>
  <footer>
    <p>Copyright © 2023
      <a href="#">민종이의 개발일지</a>. All rights reserved.</p>
    <ul>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><form action="/logout" method="post">
        <button type="submit">log-Out </button>
      </form>
      </li>
    </ul>
  </footer>
</div>
</body>
</html>